<!DOCTYPE html>
<html lang="zh-CN" class="ua-windows ua-webkit"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <title>
   群组
</title>
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="Sun, 6 Mar 2005 01:00:00 GMT">
    
<meta property="qc:admins" content="116355771364752166375772750">

    <script>var _head_start = new Date();</script>
    <script src="/static/js/packed_jquery.min6301986802.js"></script>
	 <script src="/static/js/packed_douban2999726295.js"></script>
    <link href="/static/css/packed_douban9859329871.css" rel="stylesheet" type="text/css">
    <style type="text/css">
    
        .pil {
			height: 48px;
			width: 48px;
			}

    </style>
    
    <link rel="stylesheet" href="/static/css/index.css">
    <script>
	var groups = '{{groups}}'
	var catelog = '{{catelog}}'
	$(document).ready(function(){
		$("#inp-query").click(function(){
			console.log($("label[for='inp-query']"))
			$("label[for='inp-query']")[0].innerText = ""
		})
	})
	</script>


    <link rel="shortcut icon" href="http://img3.douban.com/favicon.ico" type="image/x-icon">
<script src="/static/js/ga.js" async="true"></script></head>
<body>
  
    
    <script type="text/javascript">var _body_start = new Date();</script>

<div id="db-global-nav" class="global-nav">
  <div class="bd">
 
 
<div class="top-nav-info">
    <span class="perf-metric"><!-- _performtips_ --></span>
    
     <ul>
	 {% if user.is_authenticated %}
       <li><a href="#">豆邮</a></li>
       <li class="nav-user-account">
       <a target="_blank" href="#" class="bn-more" rel="off"><span>{{user.nickname}}的帐号</span><span class="arrow"></span></a>
       <div class="more-items">
      <table cellpadding="0" cellspacing="0">
            <tbody><tr><td><a href="#">我的豆瓣</a></td></tr>
            <tr><td><a target="_blank" href="#">我的帐号</a></td></tr>
            <tr><td><a href="/group/logout">退出</a></td></tr>
         </tbody></table>
       </div>

       </li>
	   {%else%}
	   <li><a href="/group/login">登录</a></li>
	   <li><a href="/group/register">注册</a></li>
	   <li></li>
	   {%endif%}
     </ul>
</div>

<div class="top-nav-reminder">
        <a href="#" class="lnk-remind">提醒
        </a>
    <div id="top-nav-notimenu" class="more-items">
      <div class="bd">
          <p>加载中...</p>
      </div>
    </div>
    </div>
	
	
    <div class="global-nav-items">
      <ul>
          
            
            <li>
              <a href="#">豆瓣</a>
            </li>
          
            
            <li>
              <a href="#">读书</a>
            </li>
          
            
            <li>
              <a href="#">电影</a>
            </li>
          
            
            <li>
              <a href="#/">音乐</a>
            </li>
          
            
            <li>
              <a href="#">同城</a>
            </li>
          
            
            <li class="on">
              <a href="/group/">群组</a>
            </li>
          
            
            <li>
              <a href="#" target="_blank">阅读</a>
            </li>
          
            
            <li>
              <a href="#" target="_blank">豆瓣FM</a>
            </li>
          
            <li>
              <a href="/group/explore" class="bn-more"><span>更多</span></a>
              
            </li>
      </ul>
    </div>
  </div>
</div>


<div id="db-nav-group" class="nav">
  <div class="nav-wrap">
  <div class="nav-primary">
    <div class="nav-logo">
      <a href="/group">群组</a>
    </div>

    <div class="nav-items">
    <ul>
	<li><a href="/group/mygroup">我的群组</a></li>
      <li><a href="/group/explore">发现群组</a></li>
      <li><a href="/group/explore_topic">发现话题</a></li>
   </ul>
   </div>

    <div class="nav-search">
      <form id="form" action="/group/search" method="get">
        <fieldset>
          <legend>搜索：</legend>
          
          <input type="hidden" name="cat" value="9999">
          <label for="inp-query">群组、话题</label>
          <div class="inp"><input id="inp-query" name="q" size="22" maxlength="60" value=""></div>
          <div class="inp-btn"><input type="submit" value="搜索"></div>
        </fieldset>
      </form>
    </div>
  </div>
  </div>
</div>


    <div id="wrapper">
        

        
    <div id="content">
        
    <h1><div class="head-nav">
   发现群组
    </div></h1>

    <div class="grid-16-8 clearfix">
        
        
        <div class="article">
	  
  

      
<div class="group-list">
	{%if tag%}
		{% load endless %}
		{% paginate groups %}
   {%endif%}
	{%for group in groups%}
	<div class="result">
		<div class="pic">
		<a class="nbg" href="/group/show/{{group.name}}" onclick="moreurl(this,{i:&#39;0&#39;})" title="{{group.name}}">
			{%if group.image %}
			<img src="/media/{{group.image.url}}" alt="{{group.name}}" class="pil"></a>
			{%else%}
			<img src="/static/images/g13196-1.jpg" alt="{{group.name}}"></a>
			{%endif%}
		</div>
		<div class="content">
			<div class="title">
				<h3><a href="/group/show/{{group.name}}" onclick="moreurl(this,{i:&#39;0&#39;})">{{group.name}}</a></h3>
			</div>
			<div class="info">{{group.member.all|length|default:0}}个群组成员在此聚集 </div>
			<div> 
			<p>
				{{group.description|truncatechars:50}}
			</p>
			</div>
		</div>
	</div>
	{%endfor%}
	{%if tag%}
		{% show_pages %}
	{%endif%}
</div>


	</div>
        <div class="aside">
            
    <h2>
        按分类浏览
            
    </h2>

   <div class="group-cate-bd">

   {%for cate in catelog%}
   <div class="group-cate ">
       <ul>
           <li class="cate-label "><a href="/group/?tag={{cate.0}}"><b>•</b>{{cate.0}}</a></li>
		{%for song_cate in cate.1%}
       <li><a href="/group/?tag={{song_cate}}">{{song_cate}}</a></li>
	   {%endfor%}
       </ul>
    </div>
	{%endfor%}

   </div>

        </div>
        <div class="extra">
            
        </div>
    </div>
    </div>

        
    <div id="footer">
        
<span id="icp" class="fleft gray-link">
    © 2005－2013 douban.com, all rights reserved
</span>

<span class="fright">
    <a href="#about">关于豆瓣</a>
    · <a href="#jobs">在豆瓣工作</a>
    · <a href="#about?topic=contactus">联系我们</a>
    · <a href="#about?policy=disclaimer">免责声明</a>
    
    · <a href="#help/group">帮助中心</a>
    · <a href="#" target="_blank">开发者</a>
    · <a href="#mobile/group">手机群组</a>
    · <a href="#partner/">豆瓣广告</a>
</span>


    </div>

    </div>

<div id="g-popup-reg" class="popup-reg" style="display:none;">
  <div class="bd">
  
  <iframe src="/group/blank.htm" frameborder="0" scrolling="no"></iframe>
    <a href="/group/explore#" class="lnk-close">×</a>
  </div>
</div>
<script type="text/javascript" src="/static/js/6cc45d9af3ccd267.js"></script>
</body></html>