<!DOCTYPE html>
<html lang="zh-CN" class="ua-windows ua-webkit"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    

    <title>申请群组</title>
    
    
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="Sun, 6 Mar 2005 01:00:00 GMT">
    
    <script>var _head_start = new Date();</script>
    <script src="/static/js/packed_jquery.min6301986802.js"></script>
    <script src="/static/js/packed_douban2999726295.js"></script>
    <link href="/static/css/packed_douban9859329871.css" rel="stylesheet" type="text/css">
    <style type="text/css">
    
        
    /*Buttons*/
    .btn-submit { border-radius: 3px; cursor: pointer; font-size: 14px; font-weight: bold; padding: 4px 15px; text-decoration: none; vertical-align: baseline; }
    .enabled { background: none repeat scroll 0 0 #3FA156; border: 1px solid #528641; color: #FFFFFF; }
    input.disabled,
    input.disabled:hover { background: none repeat scroll 0 0 #F0F0F0; border: 1px solid #B9B9B9; color: #999999; }
    .btn-submit:hover { background: none repeat scroll 0 0 #3C9A52; }

    </style>
    
    <link rel="stylesheet" href="/static/css/index.css">
    <script>
		$(document).ready(function(){
		$("#inp-query").click(function(){
			console.log($("label[for='inp-query']"))
			$("label[for='inp-query']")[0].innerText = ""
		})
	})
	</script>


    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
<script src="/static/js/ga.js" async="true"></script></head>
<body>
  
    
    <script type="text/javascript">var _body_start = new Date();</script>
 
<div id="db-global-nav" class="global-nav">
  <div class="bd">

<div class="top-nav-info">
    <span class="perf-metric"><!-- _performtips_ --></span>
    
     <ul>
       <li><a href="#">豆邮</a></li>
       <li class="nav-user-account">
       <a target="_blank" href="#" class="bn-more" rel="off"><span>{{user.nickname}}的帐号</span><span class="arrow"></span></a>
       <div class="more-items">
      <table cellpadding="0" cellspacing="0">
            <tbody><tr><td><a href="#">我的豆瓣</a></td></tr>
            <tr><td><a target="_blank" href="#">我的帐号</a></td></tr>
            <tr><td><a href="/group/logout">退出</a></td></tr>
         </tbody></table>
       </div>

       </li>
     </ul>
</div>


    <div class="top-nav-reminder">
        <a href="#" class="lnk-remind">提醒
        </a>
    <div id="top-nav-notimenu" class="more-items">
      <div class="bd">
          <p>加载中...</p>
      </div>
    </div>
    </div>
    

    <div class="global-nav-items">
      <ul>
          
            
            <li>
              <a href="#/">豆瓣</a>
            </li>
          
            
            <li>
              <a href="#">读书</a>
            </li>
          
            
            <li>
              <a href="#">电影</a>
            </li>
          
            
            <li>
              <a href="#">音乐</a>
            </li>
          
            
            <li>
              <a href="#">同城</a>
            </li>
          
            
            <li class="on">
              <a href="/group/">群组</a>
            </li>
          
            
            <li>
              <a href="#" target="_blank">阅读</a>
            </li>
          
            
            <li>
              <a href="#" target="_blank">豆瓣FM</a>
            </li>
          
            <li>
              <a href="/group/new_group#more" class="bn-more"><span>更多</span></a>
            </li>
      </ul>
    </div>
  </div>
</div>

<div id="db-nav-group" class="nav">
  <div class="nav-wrap">
  <div class="nav-primary">
    <div class="nav-logo">
      <a href="/group/">群组</a>
    </div>

    <div class="nav-items">
    <ul>
      <li><a href="/group/mygroup/">我的群组</a></li> 
      <li><a href="/group/explore">发现群组</a></li>
      <li><a href="/group/explore_topic">发现话题</a></li>
   </ul>
   </div>

    <div class="nav-search">
      <form action="/search" method="get">
        <fieldset>
          <legend>搜索：</legend>
          
          <input type="hidden" name="cat" value="1019">
          <label for="inp-query">群组、话题</label>
          <div class="inp"><input id="inp-query" name="q" size="22" maxlength="60" value=""></div>
          <div class="inp-btn"><input type="submit" value="搜索"></div>
        </fieldset>
      </form>
    </div>
  </div>
  </div>
</div>

    <div id="wrapper">
      
    <div id="content">
        
    <h1>申请群组</h1>

    <div class="grid-16-8 clearfix">
        
        
        <div class="article">
	  
<div class="requisition">
    <p class="apply-intro">
        如果想就某一类话题跟别人交流，可以创建一个群组。
    </p>
    <p class="apply-intro">
        群组是对同一个话题感兴趣的人的聚集地。
    </p>
    <br>
    <form name="lzform" method="post">
	{% csrf_token %}
	<div style="display:none;"><input type="hidden" name="ck" value="first"></div>
        <input name="P" type="submit" value="开始创建群组" class="btn-submit enabled">
    </form>
</div>


	</div>
        <div class="aside">
            
    <div class="pl">
        <p>
            考虑到中国法律法规和相关政策的要求,豆瓣不欢迎色情、激进话题、意识形态方面的讨论, 并保留解散这类主题群组的权利。 
        </p>
   </div>

        </div>
        <div class="extra">
            
        </div>
    </div>
    </div>
      
    <div id="footer">

<span id="icp" class="fleft gray-link">
    © 2005－2013 douban.com, all rights reserved
</span>

<span class="fright">
    <a href="#/about">关于豆瓣</a>
    · <a href="#/jobs">在豆瓣工作</a>
    · <a href="#/about?topic=contactus">联系我们</a>
    · <a href="#/about?policy=disclaimer">免责声明</a>
    
    · <a href="#/help/group">帮助中心</a>
    · <a href="#" target="_blank">开发者</a>
    · <a href="#/mobile/group">手机群组</a>
    · <a href="#/partner/">豆瓣广告</a>
</span>

    </div>

    </div>

<script type="text/javascript" src="/static/js/6cc45d9af3ccd267.js"></script>
</body></html>